* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #183D5D;
  color: white;
  padding: 20px 0;
}

header h1 {
  font-size: 25px;
  flex: .7;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header ul li {
  margin: 0 20px;
  justify-content: space-evenly;
} 

header ul li a{
  text-decoration: none;
  color: white;
  
}

header ul li a:hover{
  border-bottom: 2px solid white;
}

header ul li a.active{
  border-bottom: 2px solid white;
}

main h1 {
    text-align: center;
}

button {
    padding: 10px;
}

canvas {
    margin-top: 20px;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}


footer {
  color: rgba(255, 255, 255, 0.904);
  padding: 20px 0;
  background-color: #010E28;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

