* {
    max-width: 500px;
    margin: auto;
    background-color: #183D5D;
}


canvas {
    margin-top: 80px;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

button {
    padding: 10px 20px;
    background-color: #FF8AE2;
    font-size: 25px;

    margin: 50px;
    color: aliceblue;
    align-content: center;
    
}

p {
    color: #91C0D9;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:#91C0D9; 
    background: #183D5D;
    font-size:1.5em;
    text-align: center;
    line-height:50px;
}