body{
    background: url( bg.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.loginbox{
    height: 500px;
    width: 320px;
    background: #000;
    position: absolute;
    color: #fff;
    top : 50% ;
    left: 50%;
    position: absolute;
    transform: translate(-40%,-50%);
    box-sizing: border-box;
   
    padding: 30px 30px ;
   
}
.avatar{
    border-radius: 50%;
    border-top: 50%;
    position: absolute;
    top: -40px;
    left: 120px;
}
h1{
   margin: 10px;
    padding: 0 5 30px;
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500
}
.loginbox p{
    font-family: monospace;
    font-size:20px;
   
}
.loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    color: white;
    
}
.loginbox input[type="text"]:focus,input[type="password"]:focus
{
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    color: white;
    
}
.loginbox input[type="submit"]
{
    background: transparent;
    text-align: center;
    width: 100%;
    background-color: red;
    border-radius: 50px;
    height: 30px;
    border-color: transparent;
   color: white;
    font-size: 20px;
    
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    color: red;
    background-color: white;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    font-family: monospace;
    line-height: 20px;
    color: white;
}
.loginbox a:hover
{
    color: dodgerblue;
    
}
